.articles-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 95%;
    margin: 5rem auto;
}
@media screen and (max-width: 500px) {
    .articles-wrapper {
        display: flex;
        flex-direction: column;
    }
}